.testimonials
	background-color: #bbbbbb
.testims_wrap
	margin-bottom: 20px
	text-align: justify
	p
		font-style: italic
	img
		border-radius: 50%	
span.testims_auth
	float: right
	font-weight: bold
.map_wrap
	iframe
		width: 100%