@import "fonts"
@import "libs"
@import "vars"
@import "header"
@import "advants"
@import "best-aparts"
@import "blog"
@import "apartments"
@import "footer"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
a:hover,a:focus
	text-decoration: none
h1,p
	margin: 0
	color: $color_p
.left
	float: left
.right
	float: right
.clearboth
	clear: both
.img-responsive
	display: block
	max-width: 100%
	height: auto
section
	padding: 70px 0 
	h1
		text-align: center
		+sect_h1($default-bold, 30px, 30px, 2px, uppercase)
		font-weight: bold
		margin-bottom: 40px
	h2
		+sect_h1($default-font, 20px, 20px, 1px, none)
	img
		width: 100%
		height: auto


@import "media" // Всегда в конце
